body{
    background: linear-gradient(135deg, #f5fbf9, #f9fffc);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    margin: 0;
}
.container{
    width: 100%;
    display: flex;
}
.sidebar{

    background-color: #5fcf80;
    width: 20%;
    text-align: center;
    padding: 30px;
    color: white;
    position: relative;
    border-radius: 8px;
    margin: .5% 0;

    
    
}

 .logout{
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 15%;
    background-color: white;
       color: #5fcf80;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
.content{
    width: 60%;
    margin: 4% 10%  ;
 
    
}

.question {
   background-color: #ffffff;
   margin-top: 50px;
    padding: 20px 40px;
    font-size: 13px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons{
   text-align: center;
}
.buttons button{
     background-color: #5fcf80;
     width: 20%;
     margin: 30px 10px ;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.marked{
    cursor: pointer;
    display: block;
    padding: 10px;
}
.timeline-container {
  margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 8px;
    margin: 0 auto;
    border-radius: 100px;
    border: 2px solid black;
}

.timeline {
    width: 0%;
    height: 100%;
   background: linear-gradient(to right, rgb(102, 255, 204), rgb(0, 230, 138), rgb(0, 200, 100));
    transition: width 1s linear, background-color 1s linear;
   

}