body{
   font-family: system-ui;
}
body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png");
  background-size: cover;
  background-attachment: fixed;
}
.nav{
    /* background-color:whitesmoke; */
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color:#fff;
}
.h2{
    width: 40%;
  
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5fcf80;
}

.btn-2{
    width: 60%;
    position: absolute;
    right: 0;
    text-align: center;
}
button{
     padding: 10px 22px;
    font-size: 15px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
  background-color: #5fcf80;
}
button:hover{
  
    transform: scale(1.05);  
    box-shadow: 0 0 3px rgba(95, 207, 128, 0.6);
}
 .interface img{
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    top:85px;
  
    
   
}
.txt{
    /* text-align: center; */
    padding: 100px 50px;
    position: absolute;
    
}
.txt h2{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    
   /* font-family: system-ui; */
}
.txt p{
    font-family: system-ui;
    font-size: 20px;

    color: #fff;
}
.txt button{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    transition: 0.4s;
    margin-top: 30px;
    border: 2px solid none

}
.login-page{
    background: linear-gradient(135deg, #f5fbf9, #f9fffc);
    padding: 50px;
    display: flex;
    margin-top: 50px;
   
    
   
    
}
.img{
     width: 30%;
 margin: auto 10%;
}
 
.img img{
        width: 450px;
}
.login-container{
    
    background-color: #ffffff;
    width: 30%;
    margin: auto 10%  ;
    padding: 35px 0 ;
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
   
    
}
.login-container h3 {
     font-size: 24px;
    font-weight: 700;
    color: #6f6b6b;
    width: 80%;
    text-align: center;
    margin: 15px 10% 15px;
    /* font-size: 18px;
    font-weight: 650; */
    letter-spacing: 1px;
}

.login-container p {
    width: 80%;
    margin: 5px 10% 20px; 
     color: #666;
  font-size: 12px;
     color: #b3b3b3 ;
}

.login-button {
    width: 80%;
    margin: 10px 10%;
     background-color: #00c78b;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
    font-size: 14px;

}
.login-button:hover{
   
    transform: scale(1.05);  
    box-shadow: 0 0 3px rgba(95, 207, 128, 0.6);
}
.login-input {
    width: 80%;
    padding: 10px;
    margin: 10px 6.2% 0px;
    border: 0;
    
    font-size: 12px;
    
     
   
}

input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: white;
  outline: none;          
  border: 1px solid #ccc;  
  border-radius: 4px;
  padding: 15px;
  transition: all 0.2s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: white;
  border-color: #00cc88;  
  box-shadow: none;        
}



input::placeholder {
    color: #b3b3b3 ;
   
}
hr{
    width: 80%;
    margin: 0px 10% ;
    color: #b3b3b3 ;

   
}
.register-link {
  margin-top: 10px;
  font-size: 14px;
}
.register-link a {
  color: #00c78b;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}

.validation-message {
  color: #e74c3c;
  font-size: 0.85rem;
  /* margin-top: 5px; */
  min-height: 20px;
   width: 80%;
    margin: 5px 10% 0px; 
}
input:focus {
  outline: none; 
  box-shadow: none;
  
}
.grade-container{
    background-color: #ffffff;
    width: 60%;
    margin: auto 20%  ;
    padding: 10px 0 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}
.grade-box{

    width: 70px;
    margin: auto;
     background-color: #00c78b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  font-size: 30px;
  
}
.grade-container .text{
    color:#b0b0b0 ;
}
.student-name{
 font-weight: 700;
}
.grade-container h2{
    color: #00c78b;
}
.grade-container .last_text{
    font-size: 13px;
    font-weight: 500;
}
#show_name {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 6px;
  background-color: #ffffff; 
  color: #333;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #5fcf80;
  font-size: 16px;
  font-weight: 500;
   text-transform: capitalize;
}

#show_name span.hi {
  color: #5fcf80;
  font-weight: 600;
  font-size: 17px;
}

#show_name span.name {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}
 .return{
  display: flex;
 margin: auto;
  background-color: #ffffff; 
  color: #333;
  padding: 10px 30px;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  border: 1px solid #5fcf80;
  font-size: 16px;
  font-weight: 500;
   text-transform: capitalize;
}
.return:hover{
  background-color:#5fcf80; 
  color: #ffffff;
}


