body{
   font-family: system-ui;
}
body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/symphony.png");
  background-size: cover;
  background-attachment: fixed;
}
.nav{
    /* background-color:whitesmoke; */
    width: 100%;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color:#fff;
}
.h2{
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #5fcf80;
}
.btn-2{
    width: 60%;
    position: absolute;
    right: 0;
    text-align: center;
}
button{
     padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #5fcf80;
}
 .interface img{
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    top:85px;
  
    
   
}
.txt{
    /* text-align: center; */
    padding: 100px 50px;
    position: absolute;
    
}
.txt h2{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    
   /* font-family: system-ui; */
}
.txt p{
    font-family: system-ui;
    color: #dffdfe;
}
.txt button{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 35px 10px 35px;
    border-radius: 50px;
    transition: 0.4s;
    margin-top: 30px;
    border: 2px solid none

}
.login-page{
    background: linear-gradient(135deg, #f5fbf9, #f9fffc);
    padding: 50px;
    display: flex;
   
    
   
    
}
.img{
     width: 30%;
 margin: auto 10%;
}
 
.img img{
        width: 330px;
}
.login-container{
    
    background-color: #ffffff;
    width: 30%;
    margin: auto 10%  ;
    padding: 10px 0 20px;
     box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
   
    
}
.login-container h3 {
     font-size: 24px;
    font-weight: 700;
    color: #6f6b6b;
    width: 80%;
    text-align: center;
    margin: 15px 10% 15px;
    /* font-size: 18px;
    font-weight: 650; */
    letter-spacing: 1px;
}

.login-container p {
    width: 80%;
    margin: 5px 10% 20px; 
     color: #666;
  font-size: 12px;
     color: #b3b3b3 ;
}

.login-button {
    width: 80%;
    margin: 0px 10%;
     background-color: #00c78b;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.login-input {
    width: 80%;
    padding: 7px;
    margin: 0px 10%;
    border: 0;
    
    font-size: 10px;
    
     
   
}


input::placeholder {
    color: #b3b3b3 ;
   
}
hr{
    width: 80%;
    margin: 5px 10%;
    color: #b3b3b3 ;

   
}
.register-link {
  margin-top: 10px;
  font-size: 14px;
}
.register-link a {
  color: #00c78b;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}

.validation-message {
  color: #e74c3c;
  font-size: 0.7rem;
  /* margin-top: 5px; */
  min-height: 20px;
   width: 80%;
    margin: 5px 10% 0px; 
}
input:focus {
  outline: none; 
  box-shadow: none;
  
}
.grade-container{
    background-color: #ffffff;
    width: 60%;
    margin: auto 20%  ;
    padding: 10px 0 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
}
.grade-box{

    width: 70px;
    margin: auto;
     background-color: #00c78b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  font-size: 30px;
 
}
.grade-container .text{
    color:#b0b0b0 ;
}
.student-name{
 font-weight: 700;
}
.grade-container h2{
    color: #00c78b;
}

